<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-md-auto">
    <h1>Tasks</h1>

      <%= link_to 'New Task', new_task_path, class: "btn btn-primary btn-lg mb-4", data: { bs_toggle: 'modal', bs_target: "#newTaskModal", remote: true } %>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Position</th>
            <th>Title</th>
            <th>Is done</th>
            <th></th>
          </tr>
        </thead>

        <tbody id="taskTable">
          <% @tasks.each do |task| %>
            <%= render 'task_row', task: task %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="newTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskModalLabel">Create New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newTaskForm"></div>
    </div>
  </div>
</div>
